<!-- Features -->
<!-- This is where the articles are located -->
<div class="wrapper style1">
	<section id="features" class="container special">
		<header>
			<h2>Morbi ullamcorper et varius leo lacus</h2>
			<p>Ipsum volutpat consectetur orci metus consequat imperdiet duis integer semper magna.</p>
		</header>
		<div class="row">
			{% for post in site.categories.articles %}
			<article class="4u special">
				<a href="#" class="image featured"><img src="images/{{ post.img }}" alt="" /></a>
				<header>
					<h3><a href="#">{{ post.title }} </a></h3>
				</header>
				<p>{{ post.desc }}</p>
			</article>
			{% endfor %}
		</article>
	</div>
</section>
</div>
